fastapi
uvicorn[standard]
sqlmodel
sqlalchemy[asyncio]
asyncpg
pydantic>=2.0.0
pydantic-settings
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
redis
alembic

# --- Base Dependencies ---
celery
flower
fastapi-mail>=1.4.1
email-validator
itsdangerous
elasticsearch==8.13.0
slowapi
Pillow
python-multipart
pyinstrument
supabase
